@import url('https://fonts.googleapis.com/css2?family=Adamina&family=DM+Serif+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Nunito:wght@400;600;700&display=swap');

html {
  scroll-behavior: smooth;
}
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  place-items: center;
}

a {
  color: inherit;
  text-decoration: none;
}
.header1-text {
  font-size: 2.8em;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
}

.header2-text {
  font-size: 2em;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
}

.header3-text {
  font-size: 1.5em;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
}

.lead-text  {
  font-size: 1.4em;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  text-align: justify;
  line-height: 2.2;
}

.paragraph-text {
  font-size: 1em;
  font-weight: 400;
  text-align: justify;
  line-height: 2.2;
}

* {
  box-sizing: border-box;
}

*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}
